<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav Bar</title>
</head>
<body>
    <app-nav-bar class="nav-bar"></app-nav-bar>
    <div class="container mt-4">
    <!-- <app-course-list></app-course-list> não utilizamos mais pois estamos utilizando rotas -->
        <router-outlet class="outlet"></router-outlet>
        <!--Fazendo switch nas rotas dos componentes, pois estamos trabalhando com rotas e não tags, precisamos avisar o angular pra fazer a troca dos components-->
    </div>
</body>
</html>
